
.titulo_secundario{
    background-color: rgb(2, 87, 7);
     color: white;
            

}
 
#titulo_principal{
    background-color: rgb(121, 69, 1);
    color: white;
}
 
#layout{
    display: flex;


}

.rodape{
    text-align: center;
}

body{
    background-color: rgb(0, 0, 0); /*Cor de fundo*/
    color: rgb(255, 255, 255); /*Cor da fonte*/
    font-family: Arial, Helvetica, sans-serif;
}

.transicao:hover{
    background-color: white;
    border: solid 3px red;
    color: white;
    
    
}

.transicao{
    background-color: white;
    border: solid 3px red;
    color: black;
    width: 600px;
    right: 600px;
    transition-duration: 3s;  /* define o tempo da trasicao */
    transition-property: all;  /* define a propriedade que vai ser animada */
    transition-delay: 1s; /* define o tempo de atraso para iniciar a transição */   
    transition-timing-function: ease-in-out; /* define a função de tempo da transição */
   
}


h1{
    animation-name: multicolor;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards; /* forwards,backwards. Mantém o estado final da animação */  
    animation-iteration-count: infinite; /* define o número de vezes que a animação vai ser executada */

}

@keyframes multicolor {
    0%{
        color: red;
    }
    25%{
        color: green;
    }
    50%{
        color: blue;
    }
    75%{
        color: yellow;
    }
    100%{
        color: red;
    }  

}
.animacao img{
    display: block;
    animation: foguete;
    animation-duration: 5s;
  
}

@keyframes foguete {
    0%{margin-left: 0%;}
    25%{margin-left: 80% ;transform: rotate(0deg);}
    50%{margin-left: 80%; transform: rotate(-120deg);} 
    75%{margin-left: 0%; transform: rotate(-120deg);}
    100%{margin-left: 0%; transform: rotate(0deg);}   
}                               

#teste-gradiente{
    /* background: linear-gradient(to right, red, orange, yellow, orange, red); */
    /* definir gradiente do CSS, to right, to bottom, to top, to left ou em graus(0deg, 45deg, 90deg, etc.) 
    Quando o gradiente for em  circulo usa o radial-gradient.*/
    color: white;
    height: 600px;
    cursor: crosshair; /* ele altera o cursor ao passar o mouse sobre o elemento */ 
    background-image: url(imagens_redme/senhor_dos_aneis.png);
    background-size: cover;
    opacity: 0.5; /* define a opacidade do elemento, 0 é transparente e 1 é opaco */

}

